@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap");
body {
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, rgb(228, 221, 221), transparent, rgb(228, 221, 221));
}

.navbar-light {
  background-color: #f4f4f4;
  color: #0b0b0b;
  font-family: "Kanit", sans-serif;
}
.navbar-light.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar-light .logo {
  padding-top: 15px;
}
.navbar-light ul {
  list-style: none;
  display: flex;
  gap: 35px;
}
.navbar-light ul a {
  color: #0b0b0b;
  text-decoration: none;
}
.navbar-light ul a:hover {
  color: blue;
}
.navbar-light .search-box {
  padding-top: 12px;
}
.navbar-light .search-box input {
  height: 3vh;
}
.navbar-light .search-box button {
  height: 3.5vh;
  width: 4vw;
}

.açıklama1 img {
  position: absolute;
  width: 98.7%;
  background-size: cover;
  height: 56.7vh;
}

.açıklama1 .flex {
  position: relative;
  display: flex;
}

.flex div {
  width: 50%;
}

.navbar-light ul {
  padding-top: 15px;
}

.search-box {
  margin-top: 15px;
}

.logo img {
  height: 7vh;
  margin-bottom: 25px;
}

.flex div {
  height: 100%;
}

.flex h3 {
  margin-top: 55px;
  margin-left: 20px;
}

.flex h1 {
  margin-left: 20px;
  letter-spacing: 10px;
}

.flex button {
  margin-left: 20px;
}

.flex {
  background: linear-gradient(to right, rgb(228, 221, 221), transparent);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.c-blue {
  color: #1d1dc3;
}

.c-red {
  color: #e90c0c;
}

.c-purple {
  color: #7f0ce9;
}

.c-green {
  color: #18b612;
}

.c-yellow {
  color: #e3cf0d;
}

.c-orange {
  color: #f7760a;
}

.c-dark {
  color: #0b0b0b;
}

.c-olor {
  color: #1d1dc3;
}

.c-olor {
  color: #e90c0c;
}

.c-olor {
  color: #7f0ce9;
}

.c-olor {
  color: #18b612;
}

.c-olor {
  color: #e3cf0d;
}

.c-olor {
  color: #f7760a;
}

.c-olor {
  color: #0b0b0b;
}

.button.button-c-blue {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #1d1dc3;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-blue:hover {
  background-color: #131380;
}

.button.button-c-red {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #e90c0c;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-red:hover {
  background-color: #a00808;
}

.button.button-c-purple {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #7f0ce9;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-purple:hover {
  background-color: #5708a0;
}

.button.button-c-green {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #18b612;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-green:hover {
  background-color: #0f700b;
}

.button.button-c-yellow {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #e3cf0d;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-yellow:hover {
  background-color: #9b8d09;
}

.button.button-c-orange {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #f7760a;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-orange:hover {
  background-color: #af5306;
}

.button.button-c-dark {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background-color: #0b0b0b;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}
.button.button-c-dark:hover {
  background-color: black;
}

.cap {
  width: 630px;
  border: 1.5px solid gray;
  display: flex;
}
.cap img {
  width: 100%;
  display: block;
}
.cap .cap-content {
  padding: 10px;
}
.cap .cap-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.cap .cap-text {
  font-size: 1rem;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.row {
  border: 1px solid transparent;
  font-size: "Kanit", sans-serif;
}

.col {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-size: larger;
}
.breadcrumb ul li {
  display: inline-block;
  margin: 0;
}
.breadcrumb ul li:not(:last-child)::after {
  content: "|";
  margin: 0 5px;
}
.breadcrumb ul li a {
  text-decoration: none;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}

.list-group {
  list-style: none;
  border: 2px solid white;
  padding: 0;
  width: 25%;
  background-color: transparent;
}
.list-group .list-item {
  border-bottom: 1px solid black;
  background-color: transparent;
  margin: 10px;
  font-family: "Kanit", sans-serif;
  padding-top: 5px;
}

.hamburger-menu .menu-toggle {
  display: block;
}
.hamburger-menu .menu {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.hamburger-menu .menu li {
  margin-bottom: 10px;
  font-family: "Kanit", sans-serif;
}
.hamburger-menu .menu li:last-child {
  margin-bottom: 0;
}
.hamburger-menu .menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.hamburger-menu .menu li a:hover {
  text-decoration: underline;
}
.hamburger-menu.active .menu {
  display: flex;
}

.cap img {
  width: 200px;
  height: 240px;
}

footer {
  background-color: #bc531f;
  color: white;
  display: flex;
}

footer div:first-child {
  width: 55%;
  text-align: center;
  padding-top: 8%;
}

footer img {
  width: 325px;
  height: 90px;
}

footer div:last-child {
  margin-left: 10%;
  margin-top: 30px;
}

.list-group {
  width: 325px;
}

.breadcrumb a {
  color: white;
}

.list-group a {
  color: white;
}

#mod {
  height: 7vh;
  margin-top: 20px;
}

textarea {
  width: 250px;
  height: 100px;
}

input {
  height: 25px;
}

.açıklama3 {
  padding-bottom: 45px;
  padding-top: 35px;
}

.açıklama3 button {
  margin-top: 20px;
}

#sıralı {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}

.daha {
  padding-top: 35px;
  text-align: center;
}

.daha p {
  font-size: larger;
}/*# sourceMappingURL=index.css.map */